h1 {
    text-align: center;
  }
  td {
    width: 100px;
    height: 100px;
  }
  table {
    margin: 5px auto;
  }
  .vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  .hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  #players{
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
  }
  #players button{
      width: 70px; 
      border: 0.5px solid black;
  }
  #players button:hover{
    background-color: #eee;
}

.start{
  background-color: #90ee90;
}
.restart{
  background-color: #ffcccb;
}